/* Header */

.logo-light {
  width: 9.5rem;
  height: 2.5rem;
}

.btn-header {
  color: var(--white);

  font-size: 1.8rem;
  line-height: 180%;
  letter-spacing: 0;
  font-weight: 500;

  position: relative;
}

.btn-header:hover,
.btn-header:focus {
  color: var(--green);
}

.btn-header::after,
.heaidng-highlight::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  height: 3px;
  width: 100%;
  background-color: var(--green);
}

/* Main content */

/* Hero section */

.main-heading {
  font-size: 4.8rem;
  line-height: 100%;
  font-weight: 400;
  letter-spacing: -0.04em;
  text-align: center;

  color: var(--white);
}

.heaidng-highlight {
  position: relative;
}

.hero-image {
  position: absolute;
  z-index: 999;
  width: 32rem;
  height: 18.4rem;

  bottom: 0;
}

.hero-ornament {
  width: 100%;
  height: 2.4rem;
  display: block;
}

.white-space-hero {
  height: 8rem;
  width: 100%;
  background-color: var(--purple-light);
}

/* Features section */

.features-ornamental {
  width: 100%;
  height: 2.4rem;
  display: block;
}

.features-item::before {
  content: counter(item);

  width: 4.8rem;
  height: 4.8rem;
  border: 1px solid var(--purple-middle);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2rem;
  line-height: 200%;
  letter-spacing: 0;
  font-weight: 400;

  margin-bottom: 0.8rem;
}

.feature-name {
  font-size: 2.4rem;
  line-height: 120%;
  letter-spacing: 0;
  font-weight: 500;

  color: var(--purple-dark);
}

.feature-desc {
  font-size: 1.6rem;
  line-height: 180%;
  letter-spacing: 0;
  font-weight: 300;

  color: var(--purple-dark);
}

/* CTA section */

.founder-image {
  width: 28rem;
  height: 28rem;
}

.cta-heading {
  font-size: 3.2rem;
  line-height: 120%;
  letter-spacing: 0;
  font-weight: 400;
}

.cta-text {
  font-size: 1.6rem;
  line-height: 180%;
  letter-spacing: 0;
  font-weight: 300;
}

/* Footer */

.logo-dark {
  width: 9.5rem;
  height: 2.5rem;
}

.social-icon {
  width: 2rem;
  height: 2rem;

  fill: var(--purple-middle);
}

.social-icon:hover,
.social-icon:focus {
  fill: var(--purple-dark);
}