/* Header */

.header {
  width: 100%;
  background-color: var(--purple-dark);
  padding: 3.2rem 2rem 0 2rem;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Main content */

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Hero section */

.hero-section {
  width: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--purple-dark);
}

.hero-info-container {
  width: 100%;
  padding: 5.6rem 2rem 14.4rem 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;

  position: relative;
}

/* Features section */

.features-section {
  width: 100%;
  background-color: var(--purple-light);
}

.features-list {
  padding: 6.4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  counter-reset: item;

  gap: 3.2rem;
}

.features-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  gap: 2.4rem;
  counter-increment: item;
}

.item-container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

/* CTA section */

.cta-section {
  width: 100%;
  padding: 11.2rem 2rem 0 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta-text-container {
  width: 100%;
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3.2rem;

  position: relative;
  margin-block-start: -4.8rem;

  background-color: var(--purple-dark);
  color: var(--white);
}

/* Footer */

.footer {
  padding: 8rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5.6rem;
}

.social-links-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.8rem;
}

@media screen and (min-width: 48rem) {
  /* Header */

  .header {
    padding-left: 4.4rem;
    padding-right: 4.4rem;
  }

  /* Hero */

  .hero-info-container {
    padding-left: 4.4rem;
    padding-right: 4.4rem;
  }

  /* Features */

  .features-list {
    padding: 5.6rem 4.4rem 4.4rem 4.4rem;
    align-items: flex-start;
  }

  .features-item {
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    gap: 5.6rem;
    flex-shrink: 0;
  }

  .item-container {
    gap: 2.8rem;
  }

  /* CTA */

  .cta-section {
    padding-left: 4.4rem;
    padding-right: 4.4rem;

    
  }

  .cta-text-container {
    padding: 4.8rem;
    max-width: 50.4rem;
    align-self: flex-end;
    text-align: left;
    align-items: flex-start;

    margin-block-start: -11rem;
  }

  .cta-container {
    width: 68rem;
    align-items: flex-start;
  }
}

@media screen and (min-width: 90rem) {
  /* Header */

  .header {
    padding: 5.6rem 8rem 0 8rem;
    display: flex;
    justify-content: center;
  }

  .nav {
    max-width: 112rem;
  }

  /* Hero */

  .hero-info-container {
    padding: 5.6rem 8rem 29.6rem 8rem;
  }

  /* Features */

  .features-list {
    padding: 8.8rem 8rem 14.4rem 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;;
  }

  .features-item {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  /* CTA */

  .cta-section {
    padding-left: 16rem;
    padding-right: 16rem;
  }

  .cta-text-container {
    padding: 6.4rem;
    max-width: 73rem;

    margin-block-start: -31rem;
  }

  .cta-container {
    width: 112rem;
  }

  /* Footer */

  .footer {
    padding: 11.2rem 8rem;
  }
}