:root {
  --green: #44ffa1;
  --purple-dark: #24053e;
  --purple-middle: #584d62;
  --purple-light: #fcf8ff;
  --white: #ffffff;

  --main-font: "Fraunces", serif;
  --sub-font: "Manrope", sans-serif;
}
